th, td
{
    padding: 5px 10px;
}

.input-create
{
    /* max-width: 100%; */
    padding: 10px 5px;
    width: 100%;
    font-size: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.menuNama, .menuDesc
{
    min-width: 300px;
    padding: 5px 10px;
}
.menuHarga, .menuHarga .input-create, .menuQty
{
    width: 100px;
    text-align: center;
}
.menuCRUD
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5em;
}
.menuCRUD button
{
    /* width: 100%; */
    /* background-color: red; */
    flex-grow: 1;
}

.addToCartCell
{
    padding: 0;
}

.categoryRow td
{
    font-weight: bold;
    /* background-color: #ddd; */
    /* color: white; */
    /* background-color: var(--red1); */
    /* background-color: var(--grey2); */
    /* border: 1px solid var(--grey2); */
}

.button-addToCart
{
    width: 100%;
    border-radius: 0;
}
#rowEditMenu
{
    visibility: hidden;
}