th, td
{
    padding: 5px 10px;
}
.orderRow
{
    /* background-color: #ddd; */
    font-weight: bold;
}

.menuNama, .menuDesc
{
    min-width: 300px;
    padding: 5px 10px;

    /* background-color: red; */
}
.menuHarga
{
    /* width: 60px; */
    text-align: center;
}

.orderWaktu, .orderHarga
{
    text-align: center;
}

.filter-date
{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.filter-date-between
{
    /* display: none; */
    align-items: center;
    gap: .5em;
}
#filter-select
{
   max-width: 300px;
}
.showing
{
    font-weight: bold;
    font-size: 1.5em;
}